.container-normativa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-normativa {
  display: flex;
  flex-direction: column;
}

.container-normativa .banner-normativa {
  width: 100%;
  height: auto;
  max-height: 500px; /* Limita la altura máxima a 500px */
  object-fit: cover; /* Mantiene el estilo de ajuste */
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  filter: brightness(60%); /* Hacer la imagen más oscura */
  display: block; /* Asegura que la imagen sea un bloque que ocupa todo el ancho */
}

/* SEPARACION */

.container-normativa .imagen-separacion-normativa-container {
  position: relative;
  width: 100%;
  height: auto;
}

.container-normativa .imagen-separacion {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 0.5vw;
  margin-bottom: 2vw;
  filter: brightness(40%); /* Hacer la imagen más oscura */
}

.container-normativa .titulo-separacion-normativa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  border-bottom: 5px solid #f07d06; /* Línea debajo del título */
  display: inline-block;
  width: fit-content; /* Ajusta el ancho de la línea al contenido del texto */
  padding-left: 10px; /* Opcional: Agrega espacio a la izquierda de la línea */
  padding-right: 10px; /* Opcional: Agrega espacio a la derecha de la línea */
  white-space: nowrap; /* Evita que el texto haga salto de línea */
}

/* *************** */

.intro-normativa h3 {
  color: #32398e;
  text-align: left;
  font-weight: bolder;
  margin-left: 380px;
  margin-top: 2vw;
  margin-bottom: 1vw;
}

.intro-normativa .texto-esal {
  width: 65%;
  margin: 0 auto;
  font-size: 1.1em;
  text-align: justify;
  margin-bottom: 50px;
  margin-top: 20px;
}

.intro-normativa .texto-esal-pdfs {
  width: 60%;
  margin: 0 auto;
  font-size: 1em;
  margin-bottom: 50px;
  margin-top: 20px;
}

.intro-normativa .imagen-organigrama {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

/* ESTILO PARA LA IMAGEN DE SEPARACIÓN */

.intro-normativa .imagen-esal_banner {
  width: 100%;
  height: auto;
  max-height: 500px; /* Limita la altura máxima a 500px */
  object-fit: cover; /* Mantiene el estilo de ajuste */
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  filter: brightness(60%); /* Hacer la imagen más oscura */
  display: block; /* Asegura que la imagen sea un bloque que ocupa todo el ancho */
}

.intro-normativa .imagen-esal-container {
  position: relative;
  width: 100%;
  height: auto;
}

.intro-normativa .imagen-esal {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  filter: brightness(40%); /* Hacer la imagen más oscura */
}

.intro-normativa .titulo-esal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  border-bottom: 5px solid #f07d06; /* Línea debajo del título */
  display: inline-block;
  width: fit-content; /* Ajusta el ancho de la línea al contenido del texto */
  padding-left: 10px; /* Opcional: Agrega espacio a la izquierda de la línea */
  padding-right: 10px; /* Opcional: Agrega espacio a la derecha de la línea */
  white-space: nowrap; /* Evita que el texto haga salto de línea */
}

.intro-normativa .titulo-esal-politica {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  border-bottom: 5px solid #f07d06; /* Línea debajo del título */
  display: inline-block;
  width: fit-content; /* Ajusta el ancho de la línea al contenido del texto */
  padding-left: 10px; /* Opcional: Agrega espacio a la izquierda de la línea */
  padding-right: 10px; /* Opcional: Agrega espacio a la derecha de la línea */
  white-space: nowrap; /* Evita que el texto haga salto de línea */
}

/* MEDIA QUERY */

/* Media Query para pantallas de 1270px o menos */
@media (max-width: 1270px) {
  .intro-normativa .texto-esal,
  .intro-normativa .texto-esal-pdfs {
    width: 80%;
    font-size: 0.95em;
  }

  .intro-normativa h2 {
    font-size: 1.8em;
  }

  .intro-normativa .imagen-organigrama,
  .intro-normativa .imagen-esal {
    width: 70%;
  }

  .intro-normativa .imagen-esal {
    width: 40%;
  }

  .intro-normativa h3 {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1080px){
  .container-normativa .titulo-separacion-normativa{
    font-size: 2rem;
  }

  .intro-normativa .titulo-esal{
    font-size: 2rem;
  }

}

@media screen and (max-width: 960px){
  .intro-normativa .titulo-esal-politica{
    font-size: 1.6rem;
  }

}

@media screen and (max-width: 840px){
  .container-normativa .titulo-separacion-normativa{
    font-size: 1.8rem;
  }

  .intro-normativa .titulo-esal{
    font-size: 1.8rem;
  }

}


/* Media Query para pantallas de 780px o menos */
@media (max-width: 780px) {
  .intro-normativa .texto-esal {
    width: 75%;
    font-size: 0.9em;
  }

  .intro-normativa .texto-esal-pdfs {
    width: 65%;
    font-size: 0.8em;
  }

  .intro-normativa h2 {
    font-size: 1.6em;
  }

  .intro-normativa .imagen-organigrama {
    width: 80%;
  }

  .intro-normativa .imagen-esal {
    width: 50%;
  }

  .intro-normativa h3 {
    font-size: 1.3em;
    margin-left: 0;
    text-align: center;
  }

  .banner-normativa {
    width: 100%;
    height: auto; /* Cambiar a auto para mantener la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  }

  .container-normativa .titulo-separacion-normativa{
    font-size: 1.5rem;
  }
  
  .intro-normativa .titulo-esal{
    font-size: 1.5rem;
  }

  .intro-normativa .titulo-esal-politica{
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 650px){
  .container-normativa .titulo-separacion-normativa{
    font-size: 1.4rem;
  }

  .intro-normativa .titulo-esal{
    font-size: 1.2rem;
  }

  .intro-normativa .titulo-esal-politica{
    font-size: 1rem;
  }

}

/* Media Query para pantallas de 501px o menos */
@media (max-width: 501px) {
  .intro-normativa .texto-esal,
  .intro-normativa .texto-esal-pdfs {
    width: 70%;
    font-size: 0.8em;
  }

  .intro-normativa h2 {
    font-size: 1.4em;
  }

  .intro-normativa .imagen-organigrama {
    width: 80%;
  }

  .intro-normativa .imagen-esal {
    width: 50%;
  }

  .intro-normativa h3 {
    font-size: 1.1em;
    max-width: 80%; /* Limita el ancho máximo del h2 */
    margin: 20px auto; /* Centra el elemento */
    text-align: center;
  }

  .banner-normativa {
    width: 100%;
    height: auto; /* Cambiar a auto para mantener la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  }

    .container-normativa .titulo-separacion-normativa{
      font-size: 1.3rem;
    }
  
    .intro-normativa .titulo-esal{
      font-size: 1rem;
    }

    .intro-normativa .titulo-esal-politica{
      font-size: 0.8rem;
    }

}

@media screen and (max-width: 420px){
  .container-normativa .titulo-separacion-normativa{
    font-size: 1.2rem;
  }

  .intro-normativa .titulo-esal{
    font-size: 0.8rem;
  }

  .intro-normativa .titulo-esal-politica{
    font-size: 0.6rem;
  }

}
